<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Noviga</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse navbar-ex1-collapse">
       <ul class="nav navbar-nav">
         
         <li>
         <a href="/#/users">Users</a>
         </li>
         
         <li>
         <a href="/#/businesses">Businesses</a>
         </li>
         
         <li>
         <a href="/#/Chassis">Chassis</a>
         </li>
         
         <li>
         <a href="/#/Modules">Modules</a>
         </li>
         
         <li>
         <a href="/#/hardwaresetups">Hardwaresetups</a>
         </li>
         
         <li>
         <a href="/#/hwchassismaps">Hwchassismaps</a>
         </li>
         
         <li>
         <a href="/#/hwchaschanmaps">Hwchaschanmaps</a>
         </li>
         
         <li>
         <a href="/#/channelsetups">Channelsetups</a>
         </li>
         
         <li>
         <a href="/#/quantities">Quantities</a>
         </li>
         
         <li>
         <a href="/#/units">Units</a>
         </li>
         
         <li>
         <a href="/#/projects">Projects</a>
         </li>

         <li>
         <a href="/#/login">Login</a>
         </li>

         <li>
         <a href="/#/logout">Logout</a>
         </li>

         <li>
         <a href="/#/register">Register</a>
         </li>
         
       </ul>
     </div>
     <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
  </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Noviga!</h1>
            <p class="lead">This is your homepage, ready for editing</p>

            <p>
             <span translate="main.like">If you like this Angular-Flask generator, please give us a star at </span>&nbsp;<a href="https://github.com/rayokota/generator-angular-flask" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
    <div ng-controller="logoutController">
  		<a ng-click='logout()' class="btn btn-default">Logout</a>
	</div>
</div>
